.table-dog {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.cell {
    display: inline-block;
    border-radius: 8px;
    margin: 20px;
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 300px;
}

.cell img {
    border-radius: 8px;
    width: 100%;
    height: 90%;
    background-image: url('../../img/placeholder.jpg');
}

