.header {
    display: flex;
    justify-content: center;
    color: white;
    position: fixed;
    background: whitesmoke;
    width: 100%;
    box-shadow: 0px 1px 3px 1px #888;
    z-index: 2;
}

.logo {
    max-height: 60px;
}


/* Small */
@media only screen and (max-width: 600px) {
    .header {
        height: 50px;
    }

    .logo {
        max-height: 50px;
    }
    
}


/* Large */
@media only screen and (min-width: 600px) {
    .header {
        height: 4rem;
    }

    .logo {
        max-height: 60px;
    }
    
}