.sidebar {
  background-color: black;
  position: fixed;
  z-index: 1;
  
}
  

.side-item {
  width: 100%;
}

.sidebar-nav {
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}


.side-link:hover {
  filter: grayscale(0%) opacity(1);
  color: #aab353;
}


.side-link {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  height: 5rem;
  text-decoration: none !important; 
  color: #aab353;
  /* width: 2rem; */
  min-width: 2rem;
  margin: 0 1rem;
  filter: grayscale(100%) opacity(1);
}
.link-text {
  font-size: 28px;
  margin-left: 1.5rem;
  display: none;
  text-decoration: none !important;
}

.active-link {
  filter: grayscale(0%) opacity(1);
  color: #aab353;
}

.menu {
  color: #aab353;
  margin: 0 1rem;
  margin-top: 5rem;
  display: flex;
  text-align: center;
}
.burger {
  transform: rotate(0deg);
  transition: transform 600ms;

}

.sidebar:hover .burger {
  transform: rotate(-180deg);
}

@keyframes opac {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Large */
@media only screen and (min-width: 600px) {
  .sidebar{
    transition: width 600ms ease;
    width: 5rem;
    height: 100%;
  }

  .sidebar:hover {
    width: 14rem;
  }

  .sidebar:hover .link-text{
    display:block;
    animation: opac 600ms;
  }

  .sidebar-nav {
    flex-direction: column;
  }

  .side-item:last-child {
    margin-top: auto;
  }
  
}

/* Small */

@media only screen and (max-width: 600px) {
  .sidebar{
    bottom: 0;
    width: 100%;
    height: 4rem;
  }

  

  .menu {
    display: none;
  }

  .sidebar-nav {
    flex-direction: row;
  }

  .side-link {
    justify-content: center;
  }

  /* .sidebar:hover .link-text{
    display:block;
    animation: opac 600ms;
  } */
}