.login {
    display: flex;
    justify-content: center;  
    align-items: center;  
    height: 100%;
    width: 100%;
}

.login-window {
    
    background-color: white;
    display: flex;
    justify-content: center;  
    align-items: center;  
    flex-direction: column;
}

.log-title {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.logo-auth {
    max-height: 100px;
}

.auth-link {
    padding-top: 1rem;
}

.or-break {
    color: #999;
    padding-top: 1rem;
}


@media only screen and (max-width: 600px) {
    .login-window {
        width: 100%;
        height: 100%; 
    }
    
}

@media only screen and (min-width: 600px) {
    .login {
        background-image: url("./../../img/bg.jpg");
        background-size: cover;
        position: absolute;
    }

    .login-window {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        width: 450px;
        height: 600px; 
    }
    
}